h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

.userDashborad .nav-link {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #495057;
}
.editSeller {
  border: none !important;
  width: 500px !important;
}
.userDashborad .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fbb039 !important;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.userDashborad .nav-link svg {
  margin-right: 10px;
}
.profile-box .tab-content {
  background-color: aliceblue;
}
.userDashborad {
  margin: 141px 0px 0px 0px;
}
.chekp {
  width: 100%;
  text-align: end;
  color: #62c500;
}
.chekp svg {
  font-size: 30px;
}
.order__firststp {
  background-color: #fff;
}
.Order_section a h5 {
  color: #495057;
}
.Order_section a p {
  color: #495057;
}
.banner-section .Order_section {
  padding: 0;
}
.table-responsive .buttons {
  /* justify-content: center; */
  display: flex !important;
}
.order__firststp {
  display: flex;
  text-align: left;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
}
.content {
  margin-left: 2rem;
}

.fileUploade {
  background-color: transparent;
  color: #fff !important;
  padding: 10px;
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0;
  width: 100%;
  height: 130px;
  border: 2px solid #35354f;
  flex-direction: column;
  margin-top: 8px;
}
.sidebar .popular-posts .post .post-thumb img {
  display: block;
  width: 100%;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  height: 100%;
}
.sidebar .popular-posts .post .post-thumb {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
  height: 70px;
}
.theme-dark .tab-content > .active {
  display: block !important;
}
.customTab {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px !important;
}
.customTab li .nav-link {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 30px;
  color: #1e1e2d;
}
.btn_onesbtn_ones {
  cursor: pointer;
}
.file-uploader-wrapper {
  overflow-y: scroll;
}
.filesUpload {
  width: 100%;
  height: 50px;
}
.rang_value span {
  font-size: 10px;
  width: 12px;
  display: block;
}
.feader_fix {
  z-index: 99 !important;
}
.forOtp {
  justify-content: center;
}
.sticky-top {
  z-index: 1 !important;
}
.main-menu {
  width: 100%;
}

.main-menu .navbar-collapse {
  width: 100%;
}
.main-header .nav-outer {
  width: 93%;
}

.main-menu .navigation {
  width: 100%;
}

/* BLOG DETAILS PAGE  */

.blog-detail {
  font-size: 1.625rem;
  color: #2c2c2c;
  font-weight: 700;
  padding-top: 15px;
}

.blog-detail .post-info {
  margin-top: 40px;
  margin-bottom: 15px;
}

.blog-detail .post-info .items {
  padding-right: 40px;
  display: flex;
  align-items: center;
}

.blog-detail .post-info .items a,
.blog-detail .post-info .items span {
  font-size: 12px;
  color: #2c2c2c;
}
.countBlog {
}

/* .blog-detail .post-info .items a:hover {
    text-decoration: underline;
} */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
} */

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-body p,
.table {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
}

.card-body h2 {
  font-size: 24px;
  margin-top: 20px;
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
}

.blog-detail .table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.blog-detail .table-border {
  border: 1px solid #dee2e6;
}

.blog-detail .table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.blog-detail .table-border td,
.table-border th {
  border: 1px solid #dee2e6;
}

.blog-detail img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

/* img:hover {
    transform: scale(1.05);
} */

/* Responsive Design */
@media (max-width: 768px) {
  .blog-detail {
    font-size: 1.2rem;
  }

  .blog-detail .post-info .items {
    padding-right: 20px;
  }

  .blog-detail .post-info .items a,
  .blog-detail .post-info .items span {
    font-size: 10px;
  }

  .card-body {
    padding: 1rem;
  }

  .card-body h2 {
    font-size: 1.25rem;
  }

  .card-body p,
  .table {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .blog-detail {
    font-size: 1rem;
    padding: 5px;
  }

  .blog-detail .post-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .blog-detail .post-info .items {
    padding-right: 0;
    margin-bottom: 5px;
  }

  .card-body {
    padding: 0.75rem;
  }

  .card-body h2 {
    font-size: 1.1rem;
  }

  .card-body p,
  .table {
    font-size: 12px;
  }
}

.author-bio-card-wrapper {
  margin-top: 40px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  background: transparent linear-gradient(180deg, #f6f6fa, #f5f6fa 0, #d2e8ff) 0
    0 no-repeat padding-box;
  border: 0;
}
.text-center {
  text-align: center !important;
}
.table-border td,
.table-border th {
  font-size: 16px;
  border: 1px solid #dee2e6;
  padding: 0.75rem;
  font-weight: 500;
}
ol li,
ul li {
  font-size: 16px;
}
ol li,
ul li {
  font-weight: 500;
  font-size: 16px;
}
.btn-promotion {
  background: #f16700;
  border: none;
  color: #fff;
  box-shadow: none;
  padding: 8px 20px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s linear;
}
.card.promotion-card {
  background-image: url(https://cdn1.myassignmenthelp.com/seo-revamp-assets/happy-users.svg),
    linear-gradient(179deg, #f6f6fa, #f5f6fa 0, #d2e8ff);
  background-position: calc(100% - 30px) center, 0 0;
  background-repeat: no-repeat, no-repeat;
  background-size: 110px auto, auto;
}
.view a {
  color: #2c2c2c;
  font-size: 11px;
  font-weight: 500;
}

.nav-item {
  position: relative;
}
.nav-link[data-toggle].collapsed:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  color: #444444;
  position: absolute;
  right: 10px;
}
.nav-link[data-toggle]:not(.collapsed):after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f077";
  color: #444444;
  position: absolute;
  right: 10px;
}
a.nav-link.collapsed,
.mymenu {
  border: 1px solid #aaa;
}
.mymenu span {
  color: #444444;
}
.AccordionRoot {
  border-radius: 6px;
  width: 300px;
  background-color: var(--mauve-6);
  box-shadow: 0 2px 10px var(--black-a4);
}

.AccordionItem {
  overflow: hidden;
  margin-top: 1px;
}

.AccordionItem:first-child {
  margin-top: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.AccordionItem:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.AccordionItem:focus-within {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0 2px var(--mauve-12);
}

.AccordionHeader {
  display: flex;
}

.AccordionTrigger {
  font-family: inherit;
  background-color: transparent;
  padding: 0 20px;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1;
  color: var(--violet-11);
  box-shadow: 0 1px 0 var(--mauve-6);
  background-color: white;
}

.AccordionTrigger:hover {
  background-color: var(--mauve-2);
}

.AccordionContent {
  overflow: hidden;
  font-size: 15px;
  color: var(--mauve-11);
  background-color: var(--mauve-2);
}
.AccordionContent[data-state="open"] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionContent[data-state="closed"] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContentText {
  padding: 15px 20px;
}

.AccordionChevron {
  color: var(--violet-10);
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionTrigger[data-state="open"] > .AccordionChevron {
  transform: rotate(180deg);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
